// ✅ Product catalogue Filters section
// Variables
$blue-text: #0783f5;
*,
*::before,
*::after {
  box-sizing: border-box;
}
.filters {
  padding-bottom: 40px;
  label {
    color: $blue-text;
    font-weight: 900;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-bottom: 30px;
  }
  &__select {
    width: 50%;
  }
}
