$dark-text: #1d3137;
$blue-text: #0783f5;
$yellow-text: #f2b30f;
$orange-btn: #f2994a;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1em;
}
.card {
  text-decoration: none;
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 18px 10px 56px 10px rgba(211, 206, 206, 0.123);
  -webkit-box-shadow: 18px 10px 56px 10px rgba(218, 215, 233, 0.9);
  -moz-box-shadow: 18px 10px 56px 10px rgba(139, 134, 134, 0.9);

  &__header {
    position: relative;
    overflow: hidden;
    height: 250px;
  }
  &__header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  &__out-stock {
    display: none;
    position: absolute;
    z-index: 8;
    color: rgb(255, 255, 255);
    background-color: $yellow-text;
    padding: 1em;
    border-radius: 50px;
    left: 50%;
    top: 55%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  &__product-action {
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    z-index: 5;
    position: absolute;
    right: 0;
    top: 1em;
    position: relative;
    color: white;
    .card__cart-btn {
      background: rgba(196, 196, 196, 0.479);
      color: inherit;
      border: none;
      border-radius: 20px;
      padding: 0.3em;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    &--added .card__cart-btn {
      /* background: rgba(255, 208, 0, 0.384) !important;*/
      width: 100px;
    }
  }

  .card__product-action--added {
    background: rgba(255, 208, 0, 0.384) !important;
  }

  &__product-collection {
    display: none;
    background-color: $blue-text;
    border-radius: 300px;
    font-size: 0.8em;
    padding: 0.4em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &__details {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  &__details h1 {
    color: $dark-text;
  }
  &__fetails span {
    color: $blue-text;
    // 🎃 no me funciona el color
  }
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products {
  // background: #0783f5;
  width: 100%;
  max-width: 1500px;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.out-of-stock {
  .card__header img {
    opacity: 0.5;
  }
  .card__product-action {
    display: none;
  }
  .card__out-stock {
    display: block;
  }
}

.collection {
  .card__product-collection {
    display: block;
  }
}
