body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media all and (min-width: 600px) {
  .hero {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .hero__title {
    font-size: 3em;
    color: #1d3137;
  }
  .hero__sub {
    margin-top: 20px;
    color: #1d3137;
  }
  .hero__decor {
    position: absolute;
    max-width: 180px;
    right: 5%;
    top: 8px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__toggle {
    display: none;
  }
  .header__close {
    display: none;
  }
  .logo img {
    width: 100px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    margin: 0 8px;
  }
  .nav__link {
    padding: 10px;
    color: orange;
    border-radius: 5px;
  }
  .nav__link:hover {
    color: blue;
  }
}

@media all and (max-width: 600px) {
  .hero {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .hero__title {
    font-size: 3em;
    color: #1d3137;
  }
  .hero__sub {
    margin-top: 20px;
    color: #1d3137;
  }
  .hero__decor {
    position: absolute;
    max-width: 100px;
    right: -28px;
    top: -7px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0 28px;
  }
  .header__toggle {
    display: inline;
    color: #af0d0d;
    width: 30px;
    width: 20px;
  }
  .header__close {
    position: absolute;
    right: 24px;
    width: 20px;
    display: block;
  }
  .header__close:hover {
    background-color: orange;
  }
  .logo img {
    width: 100px;
  }
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #370df3;
    width: 60%;
    height: 56vh;
    padding: 11px 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 0 0 0 50px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-weight: 800 !important;
  }
  .nav__item {
    margin: 2rem 0;
    color: white;
  }
  .show {
    right: 0;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filters {
  padding-bottom: 40px;
}

.filters label {
  color: #0783f5;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.filters__select {
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 18px 10px 56px 10px rgba(211, 206, 206, 0.123);
  -webkit-box-shadow: 18px 10px 56px 10px rgba(218, 215, 233, 0.9);
  -moz-box-shadow: 18px 10px 56px 10px rgba(139, 134, 134, 0.9);
}

.card__header {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.card__header img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.card__out-stock {
  display: none;
  position: absolute;
  z-index: 8;
  color: white;
  background-color: #f2b30f;
  padding: 1em;
  border-radius: 50px;
  left: 50%;
  top: 55%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__product-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  width: 100%;
  z-index: 5;
  position: absolute;
  right: 0;
  top: 1em;
  position: relative;
  color: white;
}

.card__product-action .card__cart-btn {
  background: rgba(196, 196, 196, 0.479);
  color: inherit;
  border: none;
  border-radius: 20px;
  padding: 0.3em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card__product-action--added .card__cart-btn {
  /* background: rgba(255, 208, 0, 0.384) !important;*/
  width: 100px;
}

.card .card__product-action--added {
  background: rgba(255, 208, 0, 0.384) !important;
}

.card__product-collection {
  display: none;
  background-color: #0783f5;
  border-radius: 300px;
  font-size: 0.8em;
  padding: 0.4em;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.card__details {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.card__details h1 {
  color: #1d3137;
}

.card__fetails span {
  color: #0783f5;
}

.container {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products {
  width: 100%;
  max-width: 994px;
  display: -ms-grid;
  display: grid;
  gap: 2em;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.out-of-stock .card__header img {
  opacity: 0.5;
}

.out-of-stock .card__product-action {
  display: none;
}

.out-of-stock .card__out-stock {
  display: block;
}

.collection .card__product-collection {
  display: block;
}

@media all and (max-width: 1061px) {
  .products {
    width: 100%;
    max-width: 785px;
    display: -ms-grid;
    display: grid;
    gap: 2em;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media all and (max-width: 868px) {
  .products {
    width: 100%;
    max-width: 612px;
    display: -ms-grid;
    display: grid;
    gap: 2em;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media all and (max-width: 375px) {
  .products {
    width: 100%;
    max-width: 612px;
    display: -ms-grid;
    display: grid;
    gap: 2em;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  max-width: 1440px;
  overflow-x: hidden;
  padding-top: 1em;
}

.title {
  font-family: bely-display, sans-serif;
}

.title-lighter {
  font-family: bely, sans-serif;
}

.paragraph {
  font-family: muli, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 120px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 1em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 3;
  background-color: #f4f1f9;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), color-stop(33%, #fff));
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  -webkit-box-shadow: rgba(17, 14, 202, 0.35) 0px 5px 15px;
          box-shadow: rgba(17, 14, 202, 0.35) 0px 5px 15px;
}

.btn-fill {
  text-align: center;
  font-family: "Muli", sans-serif;
  text-decoration: none;
  color: cornsilk;
  font-weight: 500;
  font-size: 0.8em;
  min-width: 150px;
  padding: 11px;
  border-radius: 50px;
  background: #f2994a;
}
/*# sourceMappingURL=gallery.css.map */