$dark-text: #1d3137;
$blue-text: #0783f5;
$yellow-text: #f2b30f;
$orange-btn: #f2994a;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1em;
}
.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 18px 10px 56px 10px rgba(211, 206, 206, 0.123);
  -webkit-box-shadow: 18px 10px 56px 10px rgba(218, 215, 233, 0.9);
  -moz-box-shadow: 18px 10px 56px 10px rgba(139, 134, 134, 0.9);

  &__header {
    position: relative;
    overflow: hidden;
    height: 150px;
  }
  &__header img {
    position: absolute;
    width: 100%;
    height: 150px;
    object-fit: cover;
    z-index: 2;
  }
  &__out-stock {
    position: absolute;
    z-index: 8;
    color: rgb(255, 255, 255);
    background-color: $yellow-text;
    padding: 1em;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  &__product-action {
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
    align-items: center;
    gap: 0.5em;
    /* background-color: red; */
    width: 100%;
    z-index: 5;
    position: absolute;
    right: 0;
    top: 1em;
    position: relative;
  }
  &__product-collection {
    background-color: $blue-text;
    border-radius: 300px;
    font-size: 0.8em;
    padding: 0.4em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &__details {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  &__details h1 {
    color: $dark-text;
  }
  &__fetails span {
    color: $blue-text;
    // 🎃 no me funciona el color
  }
}
