@media all and (min-width: 1025px) {
  .checkout {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
    max-width: 1400px;
    padding: 2em;
    gap: 2em;
    overflow: hidden;
  }
  .checkout__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkout__popular-img {
    margin: 0 auto;
  }
  .checkout .checkout__popular-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 2em;
  }
  .checkout img {
    display: block;
    height: 100%;
    width: 200px;
  }
  .checkout__section {
    height: 50%;
    padding: 2em;
    background-color: #f9f4f1;
    border-radius: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkout__subtotal h3 {
    color: #f2b30f;
    margin-bottom: 20px;
  }
  .checkout__action-btn {
    padding: 20px 0;
    background-color: #430bee;
    border-radius: 50px;
    color: white;
    margin-left: 80px;
    width: 200px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
  }
  .add-to-checkout {
    color: #f2b30f;
  }
}

@media all and (max-width: 1024px) and (min-width: 379) {
  .checkout {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
    max-width: 1400px;
    padding: 0;
    gap: 1em;
    overflow: hidden;
  }
  .checkout__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkout__popular-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .checkout .checkout__popular-img img {
    width: 25vw;
    border-radius: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .checkout__section {
    margin-top: 10%;
    height: 223px;
    width: 60vw;
    padding: 0;
    background-color: #f9f4f1;
    border-radius: 60px 60px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checkout__subtotal h3 {
    color: #f2b30f;
    margin-bottom: 20px;
  }
  .checkout__action-btn {
    padding: 20px 0;
    background-color: #430bee;
    border-radius: 50px;
    color: white;
    margin-left: 54px;
    width: 120px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
  }
  .add-to-checkout {
    color: #f2b30f;
    text-align: center;
    margin-bottom: 10%;
  }
  .line {
    margin-top: 10px;
    margin-bottom: 42px;
  }
}

@media all and (max-width: 378px) {
  .checkout {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    max-width: 1400px;
    padding: 0;
    gap: 1em;
    overflow: hidden;
  }
  .checkout__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkout__popular-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .checkout .checkout__popular-img img {
    width: 25vw;
    border-radius: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .checkout__section {
    margin-top: 10%;
    height: 223px;
    width: 90vw;
    padding: 0;
    background-color: #f9f4f1;
    border-radius: 60px 60px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checkout__subtotal h3 {
    color: #f2b30f;
    margin-bottom: 20px;
  }
  .checkout__action-btn {
    padding: 20px 0;
    background-color: #430bee;
    border-radius: 50px;
    color: white;
    margin-left: 54px;
    width: 120px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
  }
  .add-to-checkout {
    color: #f2b30f;
    text-align: center;
    margin-bottom: 10%;
  }
  .line {
    margin-top: 10px;
    margin-bottom: 42px;
  }
}
/*# sourceMappingURL=cart-checkout.css.map */