* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.main-header {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.hidden {
  display: none;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.hero__title {
  font-size: 3em;
  color: #1d3137;
}

.hero__sub {
  margin-top: 20px;
  color: #1d3137;
}

.hero__decor {
  position: absolute;
  width: 30vw;
  right: -30px;
  top: -80px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.title-section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-section__h1 {
  color: #1d3137;
  letter-spacing: 0.08em;
  font-size: 3em;
}

.title-section__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1em;
  color: #f2b30f;
  padding-top: 15px;
  margin-bottom: 100px;
}

.title-section img {
  padding-left: 105px;
  padding-right: 10px;
}

.product-view {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-view__template {
  width: 60vw;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.product-view__template__info__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-view__template--img {
  margin: 0px;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.title {
  font-family: bely-display, sans-serif;
}

.title-lighter {
  font-family: bely, sans-serif;
}

.paragraph {
  font-family: muli, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.btn-fill {
  text-align: center;
  font-family: "Muli", sans-serif;
  text-decoration: none;
  color: cornsilk;
  font-weight: 500;
  font-size: 0.8em;
  min-width: 150px;
  padding: 11px;
  border-radius: 50px;
  background: #f2994a;
}
/*# sourceMappingURL=cart.css.map */