a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.title-section {
  margin-top: 70px;
  margin-bottom: -58px;
}

@media all and (min-width: 600px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__toggle {
    display: none;
  }
  .header__close {
    display: none;
  }
  .logo img {
    width: 100px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    margin: 0 8px;
  }
  .nav__link {
    padding: 10px;
    color: orange;
    border-radius: 5px;
  }
  .nav__link:hover {
    color: blue;
  }
}

@media all and (max-width: 600px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0 28px;
  }
  .header__toggle {
    display: inline;
    color: #af0d0d;
    width: 30px;
    width: 20px;
  }
  .header__close {
    position: absolute;
    right: 24px;
    width: 20px;
    display: block;
  }
  .header__close:hover {
    background-color: orange;
  }
  .logo img {
    width: 100px;
  }
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #370df3;
    width: 60%;
    height: 45vh;
    padding: 11px 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 0 0 0 50px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-weight: 800 !important;
  }
  .nav__item {
    margin: 2rem 0;
  }
  .show {
    right: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-section__h1 {
  color: #1d3137;
  letter-spacing: 0.08em;
  font-size: 3em;
}

.title-section__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1em;
  color: #f2b30f;
  padding-top: 15px;
  margin-bottom: 100px;
}

.title-section img {
  padding-left: 105px;
  padding-right: 10px;
}

.product-view {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-view__template {
  width: 60vw;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.product-view__template__info__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 40px;
  width: 80%;
}

.product-view__template--img {
  margin: 0px;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
}

.title-tag {
  color: #f2b30f;
  font-size: 1em;
  font-weight: 800 !important;
  padding-bottom: 10px;
}

.line {
  border: 1px solid #fbede1;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.checkout {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  max-width: 1400px;
  padding: 2em;
  gap: 2em;
  overflow: hidden;
}

.checkout__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__popular-img {
  margin: 0 auto;
}

.checkout .checkout__popular-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 2em;
}

.checkout img {
  display: block;
  height: 100%;
  width: 200px;
}

.checkout__section {
  height: 50%;
  padding: 2em;
  background-color: #f9f4f1;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__subtotal h3 {
  color: #f2b30f;
  margin-bottom: 20px;
}

.checkout__action-btn {
  padding: 20px 0;
  background-color: #430bee;
  border-radius: 50px;
  color: white;
  margin-left: 80px;
  width: 200px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
}

.add-to-checkout {
  color: #f2b30f;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 1em;
}

.title {
  font-family: bely-display, sans-serif;
}

.title-lighter {
  font-family: bely, sans-serif;
}

.paragraph {
  font-family: muli, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.btn-fill {
  text-align: center;
  font-family: "Muli", sans-serif;
  text-decoration: none;
  color: cornsilk;
  font-weight: 500;
  font-size: 0.8em;
  min-width: 150px;
  padding: 11px;
  border-radius: 50px;
  background: #f2994a;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 120px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 1em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 3;
  background-color: #f4f1f9;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), color-stop(33%, #fff));
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  -webkit-box-shadow: rgba(17, 14, 202, 0.35) 0px 5px 15px;
          box-shadow: rgba(17, 14, 202, 0.35) 0px 5px 15px;
}

.button-default {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
/*# sourceMappingURL=cart.css.map */