* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.main-header {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.hidden {
  display: none;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.hero__title {
  font-size: 3em;
  color: #1d3137;
}

.hero__sub {
  margin-top: 20px;
  color: #1d3137;
}

.hero__decor {
  position: absolute;
  width: 30vw;
  right: -30px;
  top: -80px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.title-section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-section__h1 {
  color: #1d3137;
  letter-spacing: 0.08em;
  font-size: 3em;
}

.title-section__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1em;
  color: #f2b30f;
  padding-top: 15px;
  margin-bottom: 100px;
}

.title-section img {
  padding-left: 105px;
  padding-right: 10px;
}

.product-view {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-view__template {
  width: 60vw;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.product-view__template__info__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 40px;
  width: 80%;
}

.product-view__template--img {
  margin: 0px;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
}

.title-tag {
  color: #f2b30f;
  font-size: 1em;
  font-weight: 800 !important;
  padding-bottom: 10px;
}

.line {
  border: 1px solid #fbede1;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.checkout {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout__container {
  margin: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80%;
}

.checkout__popular-img {
  margin: 0 auto;
}

.checkout img {
  width: 24%;
  margin-top: 40px;
  padding-right: 10px;
}

.checkout__section {
  background-color: #f9f4f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 500px;
}

.checkout__subtotal h3 {
  color: #f2b30f;
  margin-bottom: 20px;
}

.checkout__action-btn {
  background-color: #430bee;
  border-radius: 50px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: 50%;
  margin-left: 80px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(27, 27, 201, 0.2) 0px 7px 29px 0px;
}

.add-to-checkout {
  color: #f2b30f;
  margin: 4%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.title {
  font-family: bely-display, sans-serif;
}

.title-lighter {
  font-family: bely, sans-serif;
}

.paragraph {
  font-family: muli, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.btn-fill {
  text-align: center;
  font-family: "Muli", sans-serif;
  text-decoration: none;
  color: cornsilk;
  font-weight: 500;
  font-size: 0.8em;
  min-width: 150px;
  padding: 11px;
  border-radius: 50px;
  background: #f2994a;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 120px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 1em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 3;
  background-color: #f4f1f9;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), color-stop(33%, #fff));
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  -webkit-box-shadow: rgba(17, 14, 202, 0.35) 0px 5px 15px;
          box-shadow: rgba(17, 14, 202, 0.35) 0px 5px 15px;
}

.button-default {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
/*# sourceMappingURL=cart.css.map */