* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a {
  color: inherit;
}
body {
  display: block;
  overflow-x: hidden;
  justify-content: center;
  margin: auto;
}

@import "sign-in-header";
.main-container {
  margin-top: 5%;
  display: flex;
  align-items: center;
  gap: 5em;
  width: 100vw;
  justify-content: center;
}
.title {
  font-family: bely;
  font-size: 4em;
  color: #35312b;
}
.subtitle {
  font-family: Muli;
  font-size: 1.5em;
  color: #b1aaa1;
  margin-top: 20px;
}
.text {
  font-family: Muli;
  font-size: 1.2em;
  font-weight: 600;
  color: #0b36f5;
  margin-top: 60px;
  margin-bottom: 30px;
}
.input-title {
  font-family: bely;
  font-weight: 700;
  font-size: 1.3em;
  color: orange;
}
.img-container {
  &__main {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 55vw;
    max-height: 1300px;
    width: 40vw;
    object-fit: cover;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  &__form label {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  &__form label input {
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: rgb(243, 242, 239);
  }

  .password {
    margin-bottom: 50px;
  }
}
#login {
  font-family: Muli;
  font-weight: 800;
  background-color: #3d09fa; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  font-size: 0.8em;
}

.google-text {
  font-size: 0.8em;
}
.google {
  & img {
    width: 20px;
    display: flex;
    margin: 20px;
  }
  display: flex;
  align-items: center;
  align-content: center;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  box-shadow: rgba(27, 31, 255, 0.527) 0px 4px 12px;
  border-radius: 50px;
}

@media all and (max-width: 1270px) {
  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .img-container {
    height: 370px;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    &__main {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      height: 55vw;
      max-height: 370px;
      width: 40vw;
      object-fit: cover;
    }
  }
}

@media all and (max-width: 400px) {
  .main-container {
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .subtitle {
    font-size: 1em;
  }
  .img-container {
    height: 161px;
  }
  .title {
    font-size: 2em;
  }
  .input-title {
    font-size: 1.2em;
    width: 309 px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }
}
