// ✅ Category section
// 📌 variables no funcionan desde el main
$dark-text: #1d3137;
$blue-text: #0783f5;
@media all and (min-width: 700px) {
  .category {
    background-color: #0783f5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    &__div {
      margin: 0 auto;
    }
    &__container {
      margin-top: 100px;
      display: flex;
      color: $dark-text;
      .article {
        text-align: center;
        margin: -44px;
      }
      .article img {
        width: 40%;
        border-radius: 50%;
      }
    }
    &__titles {
      font-size: 0.8em;
      letter-spacing: 0.5px !important;
      font-weight: 700;
      color: $blue-text;
    }
  }
}

@media all and (max-width: 700px) {
  .category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    &__div {
      margin: 0 auto;
    }
    &__container {
      //   margin-top: 50px;
      padding-top: 5%;
      display: flex;
      color: $dark-text;
      justify-content: center;
      margin: 0 auto;
      .article {
        text-align: center;
      }
      .article img {
        width: 60%;
        border-radius: 50%;
      }
    }
    &__titles {
      font-size: 1em;
      letter-spacing: 0.5px !important;
      font-weight: 700;
      color: $blue-text;
    }
  }
}
