// ✅ Follow me

@media all and (min-width: 831px) {
  .folow-me {
    width: 100vw;
  }
  .follow {
    margin-bottom: 20%;

    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    justify-content: space-around;
    img {
      width: 13vw;
      height: 21vh;
      object-fit: cover;
      border-radius: 100px;
    }
    &__item {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      width: 20vw;
      justify-content: center;
    }
    p {
      margin-top: 10%;
      display: flex;
      justify-content: center;
      text-align: center;
      font-weight: 800;
      font-size: 1em;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media all and (max-width: 830px) {
  .follow {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100vw;
    margin-top: 5%;
    margin-bottom: 10%;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    img {
      width: 240px;
      height: 100px;
      object-fit: cover;
      border-radius: 100px;
      cursor: pointer;
      margin: 10px;
    }
    p {
      text-align: center;
      font-weight: 800;
      font-size: 1em;
    }
  }
}
