// ✅ Hero section
.hero {
  position: relative;
  width: 100vw;
  display: flex;

  &__img {
    display: none;
  }
  &__img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }
  &__container {
    display: flex;
    flex-direction: column;
    color: $dark-text;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(0, -30%);
    width: 46vmin;
    align-items: end;

    .title {
      font-size: 3vmin;
      & img {
        width: 6vmin;
      }
    }
    .paragraph {
      padding-top: 10px;
      display: flex;
      p {
        font-size: 3vmin;
        font-weight: 300;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .hero {
    position: relative;
    width: 100vw;

    &__img {
      display: block;
      width: 100%;
    }
    &__img2 {
      display: none;
    }
    &__container {
      display: flex;
      flex-direction: column;
      color: $dark-text;
      position: absolute;
      top: 35%;
      left: -3vw;
      transform: translate(0, -30%);
      width: 46vmin;
      align-items: end;

      .title {
        font-size: 4vmin;
        & img {
          width: 6vmin;
        }
      }
      .paragraph {
        padding-top: 5px;
        display: flex;
        p {
          font-size: 3vmin;
          font-weight: 300;
        }
      }
    }
  }
}
