* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.main-header {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.hidden {
  display: none;
}

.hero {
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__img {
  display: none;
}

.hero__img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1d3137;
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
  width: 46vmin;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.hero__container .title {
  font-size: 5vmin;
}

.hero__container .title img {
  width: 6vmin;
}

.hero__container .paragraph {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__container .paragraph p {
  font-size: 3vmin;
  font-weight: 300;
}

@media only screen and (max-width: 700px) {
  .hero {
    position: relative;
    width: 100vw;
  }
  .hero__img {
    display: block;
    width: 100%;
  }
  .hero__img2 {
    display: none;
  }
}

.category {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 90px;
}

.category__div {
  padding-top: 20px;
  margin: 0 auto;
}

.category__container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 40px;
  color: #1d3137;
}

.category__container .article {
  text-align: center;
}

.category__container .article img {
  width: 70%;
  border-radius: 50%;
}

.category__titles {
  font-size: 2em;
  letter-spacing: 0.5px !important;
  font-weight: 700;
}

@media all and (max-width: 700px) {
  .category {
    width: 100vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 41px;
  }
  .category__div {
    padding-top: 20px;
    margin: 0 auto;
  }
  .category__container {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #1d3137;
    color: #1d3137;
  }
  .category__container .article {
    text-align: center;
  }
  .category__container .article img {
    width: 70%;
    border-radius: 50%;
  }
  .category__titles {
    font-size: 1em;
    letter-spacing: 0.5px !important;
  }
}

.request {
  margin: 0auto;
  padding-top: 30px;
  position: relative;
}

.request::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  background-color: #fcf5f0;
  z-index: -5;
}

.request__container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.request__container .request__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.request__container .request__title h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.8em;
  margin: 3px;
}

.request__container .request__title h2:nth-child(2) {
  color: #0783f5;
}

.request__container .request__title img {
  width: 20px;
  height: 20px;
}

.request__container p {
  font-size: 1.1em;
  padding: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2em;
}

.request__container a {
  margin: 0 auto;
}

.request__container-decor {
  position: relative;
}

.request__container-decor .request__main-img {
  width: 80vmin;
  display: block;
  margin: 0 auto;
}

.request__decor {
  position: absolute;
  width: 100px;
}

.request__hole {
  width: 15vmin;
  z-index: -1;
  bottom: 70px;
  right: 25px;
}

.request__star {
  width: 100px;
  top: 240px;
  left: 90px;
}

.container-slider {
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  -webkit-box-shadow: rgba(27, 27, 201, 0.349) 0px 7px 29px 0px;
          box-shadow: rgba(27, 27, 201, 0.349) 0px 7px 29px 0px;
  position: relative;
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  width: 400%;
  margin-left: -100%;
}

.slider__title {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.slider__title h2 {
  margin-bottom: 25px;
  size: 2em;
  color: #1d3137;
}

.slider__title p {
  color: #0783f5;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.slider__btn {
  position: absolute;
  width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.438);
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__btn:hover {
  background-color: #f8c210;
}

.slider__btn--right {
  right: 10px;
}

.slider__btn--left {
  left: 10px;
}

.thanks {
  padding-top: 60px;
  margin: auto;
  padding-top: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.thanks__container {
  width: 50vw;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.thanks__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.thanks__container--text {
  text-align: center;
}

.thanks__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.thanks__title img {
  margin: auto;
  height: 40px;
  width: 40px;
}

.thanks__container--text h2 {
  text-align: center;
  color: #1d3137;
}

.thanks__container--text p {
  margin-top: 20px;
  color: #0783f5;
}

.follor-me {
  margin-top: 20px;
  color: #0783f5;
  font-weight: 700 !important;
  margin-bottom: 40px;
}

.follow {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.follow img {
  width: 190px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
  padding: 5px;
}

@media all and (max-width: 700px) {
  .thanks {
    padding-top: 60px;
    margin: auto;
    padding-top: 10%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .thanks__container {
    width: 100vw;
    -ms-flex-line-pack: center;
        align-content: center;
    position: relative;
  }
  .thanks body {
    background-color: #0783f5;
  }
  .thanks .thanks__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.title {
  font-family: bely-display, sans-serif;
  letter-spacing: 2px;
}

.title-lighter {
  font-family: bely, sans-serif;
}

.paragraph {
  font-family: muli, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.btn-fill {
  text-align: center;
  font-family: "Muli", sans-serif;
  text-decoration: none;
  color: cornsilk;
  font-weight: 500;
  font-size: 0.8em;
  min-width: 150px;
  padding: 11px;
  border-radius: 50px;
  background: #f2994a;
}
/*# sourceMappingURL=main.css.map */