// ✅ Slider section

$dark-text: #1d3137;
$blue-text: #0783f5;
.slider__all {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.container-slider {
  width: 70%;
  max-width: 606px;
  margin: auto;
  overflow: hidden;
  box-shadow: rgba(27, 27, 201, 0.349) 0px 7px 29px 0px;
  position: relative;
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 29vh;
  min-height: 350px;
  max-height: 400px;
}

.slider {
  display: flex;
  height: 400px;
  width: 400%;
  margin-left: -100%;

  &__title {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__title h2 {
    margin-bottom: 25px;
    size: 2em;
    font-size: 1.8em;
    color: $dark-text;
  }
  &__title p {
    color: $blue-text;
    font-size: 1.2em;
    justify-content: center;
  }

  &__section {
    width: 100%;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
  }
  &__btn {
    position: absolute;
    width: 40px;
    align-items: center;
    align-content: center;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.438);
    top: 50%;
    display: flex;
    border-radius: 50px;
    justify-content: center;
  }
  &__btn:hover {
    background-color: #f8c210;
  }
  &__btn--right {
    right: 10px;
  }
  &__btn--left {
    left: 10px;
  }
}

@media all and (max-width: 700px) {
  .slider__title h2 {
    margin-bottom: 25px;
    font-size: 1em;
    color: $dark-text;
  }
  .slider___title p {
    color: $blue-text;
    font-size: 0.9em;
  }
}
