.thanks {
  padding-top: 60px;
  margin: auto;
  padding-top: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thanks__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.thanks__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
  width: 80%;
}

.thanks__container--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.thanks__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.thanks__title img {
  margin: auto;
  height: 40px;
  width: 40px;
}

.thanks__container--text h2 {
  text-align: center;
  color: #1d3137;
}

.thanks__container--text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  color: #0783f5;
}

.follor-me {
  margin-top: 20px;
  color: #0783f5;
  font-weight: 700 !important;
  margin-bottom: 40px;
}

.follow {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.follow img {
  width: 190px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
  margin: 50px;
}

.follow__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.follow p {
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
}

@media all and (max-width: 700px) {
  .thanks {
    padding-top: 60px;
    margin: auto;
    padding-top: 10%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .thanks__container {
    width: 100vw;
    -ms-flex-line-pack: center;
        align-content: center;
    position: relative;
  }
  .thanks body {
    background-color: #0783f5;
  }
  .thanks .thanks__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }
  .follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .follow img {
    width: 240px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 100px;
    cursor: pointer;
    margin: 10px;
  }
  .follow p {
    text-align: center;
    font-weight: 800;
    font-size: 1em;
  }
}
/*# sourceMappingURL=thanks.css.map */