// ✅ thanks section

$dark-text: #1d3137;
$blue-text: #0783f5;

.thanks {
  padding-top: 60px;
  margin: auto;
  padding-top: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  &__container {
    width: 50vw;
    align-content: center;
    position: relative;
  }
  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  &__container--text {
    text-align: center;
  }
  &__title {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  &__title img {
    margin: auto;
    height: 40px;
    width: 40px;
  }
  &__container--text h2 {
    text-align: center;
    color: $dark-text;
  }
  &__container--text p {
    margin-top: 20px;
    color: $blue-text;
  }
}

// ✅ Follow me
.follor-me {
  margin-top: 20px;
  color: $blue-text;
  font-weight: 700 !important;
  margin-bottom: 40px;
}

.follow {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  justify-content: space-around;
  img {
    width: 190px;
    height: 250px;
    object-fit: cover;
    border-radius: 100px;
    margin: 50px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  p {
    text-align: center;
    font-weight: 800;
    font-size: 1.5em;
  }
}

@media all and (max-width: 700px) {
  .thanks {
    padding-top: 60px;
    margin: auto;
    padding-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    &__container {
      width: 100vw;
      align-content: center;
      position: relative;
    }
    body {
      background-color: #0783f5;
    }
    .thanks__img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70vw;
    }
  }

  .follow {
    display: flex;
    flex-direction: column;
    align-content: center;

    img {
      width: 240px;
      height: 100px;
      object-fit: cover;
      border-radius: 100px;
      cursor: pointer;
      margin: 10px;
    }
    p {
      text-align: center;
      font-weight: 800;
      font-size: 1em;
    }
  }
}
