// ✅ Category section
.category {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  &__div {
    padding-top: 20px;
    margin: 0 auto;
  }
  &__container {
    display: flex;
    flex-direction: row;

    padding-top: 40px;
    color: #1d3137;
  }
  .article {
    text-align: center;
  }
  .article img {
    width: 70%;
    border-radius: 50%;
  }
  .artice h2 {
    font-size: 4vw;
  }
  &__decor {
    position: absolute;
    z-index: -1;
    // .category__decor__square {
    //   // no se mueve
    // }
    // .category__decor__wave {
    //   // no se mueve
    // }
  }
}
