// ✅ Category section
// 📌 variables no funcionan desde el main
$dark-text: #1d3137;
$blue-text: #0783f5;
.category {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  &__div {
    padding-top: 20px;
    margin: 0 auto;
  }
  &__container {
    display: flex;
    flex-direction: row;

    padding-top: 40px;
    color: $dark-text;
    // 📌articles no se centran del todo
    .article {
      text-align: center;
    }
    .article img {
      width: 70%;
      border-radius: 50%;
    }
    .artice h3 {
      font-size: 2vw;
      font-weight: 300;
      // 📌ya no me cambia
    }
  }
  &__decor {
    position: absolute;
    z-index: -1;
    // .category__decor__square {
    //   // 📌no se mueve
    // }
    // .category__decor__wave {
    //   //📌 no se mueve
    // }
  }
}
