// ✅ Hero section
.hero {
  position: relative;
  width: 100vw;
  &__img {
    width: 100%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    color: $dark-text;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(0, -30%);
    width: 46vmin;
    align-items: end;

    .title {
      font-size: 5vmin;
      & img {
        width: 6vmin;
      }
    }
    .paragraph {
      padding-top: 10px;
      display: flex;
      p {
        font-size: 3vmin;
        font-weight: 300;
      }
    }
  }
}
