* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.main-header {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.hidden {
  display: none;
}

.hero {
  position: relative;
  width: 100vw;
}

.hero__img {
  width: 100%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1d3137;
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
  width: 46vmin;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.hero__container .title {
  font-size: 5vmin;
}

.hero__container .title img {
  width: 6vmin;
}

.hero__container .paragraph {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__container .paragraph p {
  font-size: 3vmin;
  font-weight: 300;
}

.category {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.category__div {
  padding-top: 20px;
  margin: 0 auto;
}

.category__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 40px;
  color: #1d3137;
}

.category__container .article {
  text-align: center;
}

.category__container .article img {
  width: 70%;
  border-radius: 50%;
}

.category__container .artice h3 {
  font-size: 2vw;
  font-weight: 300;
}

.category__decor {
  position: absolute;
  z-index: -1;
}

.request {
  margin: 0auto;
  padding-top: 40px;
}

.request__container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  background-color: yellow;
}

.request__container .request__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.request__container .request__title h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.8em;
  margin: 3px;
}

.request__container .request__title h2:nth-child(2) {
  color: #0783f5;
}

.request__container .request__title img {
  width: 20px;
  height: 20px;
}

.request__container p {
  font-size: 1.1em;
  padding: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2em;
}

.request__container a {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.title {
  font-family: bely-display, sans-serif;
}

.title-lighter {
  font-family: bely, sans-serif;
}

.paragraph {
  font-family: muli, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.btn-fill {
  font-family: "Muli", sans-serif;
  text-decoration: none;
  text-align: center;
  color: cornsilk;
  font-weight: 500;
  font-size: 0.8em;
  width: 150px;
  padding: 11px;
  border-radius: 50px;
  background: #f2994a;
}
/*# sourceMappingURL=main.css.map */