// ✅ Request section
$blue-text: #0783f5;
.request {
  margin: 0auto;
  padding-top: 40px;
  &__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: #fcf5f0;
    .request__title {
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    .request__title h2 {
      font-weight: 700;
      font-style: italic;
      font-size: 1.8em;
      margin: 3px;
    }
    .request__title h2:nth-child(2) {
      color: $blue-text;
    }
    .request__title img {
      width: 20px;
      height: 20px;
    }
    & p {
      font-size: 1.1em;
      padding: 13px;
      align-items: center;
      margin: 0 auto;
      text-align: center;
      line-height: 1.2em;
    }
    & a {
      margin: 0 auto;
      // 📌el boton no esta centrado internamente
    }
  }
  &__container-decor {
    position: relative;
    .request__main-img {
      width: 80vmin;
      display: block;
      margin: 0 auto;
    }
    .decor {
      position: absolute;
    }
    .request__container-decor img:nth-child(2) {
      // 📌 cambiar de posición
    }
    .request__container-decor img:nth-child(3) {
      // 📌 cambiar de posición
    }
  }
}
