* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

@media all and (min-width: 600px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .header__toggle {
    display: none;
  }
  .header__close {
    display: none;
  }
  .logo img {
    width: 100px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    margin: 0 8px;
  }
  .nav__link {
    padding: 10px;
    color: orange;
    border-radius: 5px;
  }
  .nav__link:hover {
    color: blue;
  }
}

@media all and (max-width: 600px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0 28px;
  }
  .header__toggle {
    display: inline;
    color: #af0d0d;
    width: 30px;
    width: 20px;
  }
  .header__close {
    position: absolute;
    right: 24px;
    width: 20px;
    display: block;
  }
  .header__close:hover {
    background-color: orange;
  }
  .logo img {
    width: 100px;
  }
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #370df3;
    width: 60%;
    height: 79vh;
    padding: 11px 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 0 0 0 50px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-weight: 800 !important;
  }
  .nav__item {
    margin: 2rem 0;
    color: white;
  }
  .show {
    right: 0;
  }
}

body {
  display: block;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
}

@media all and (min-width: 1440px) {
  .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100 vh;
    align-items: center;
  }
  .img-container img {
    height: 51vh;
    width: 44vw;
    max-width: 633px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.title {
  font-family: bely-display, sans-serif;
  letter-spacing: 1px;
  color: blue;
}

.title-lighter {
  font-family: bely, sans-serif;
}

.paragraph {
  font-family: muli, sans-serif;
  font-weight: 500;
  margin-bottom: 0.6em;
  text-decoration: none;
  color: orange;
}

.subtitle {
  font-family: bely, sans-serif;
  color: #a59c9c;
}

.register {
  width: 100vw;
  max-width: 1151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10em;
}

.text-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.img-container img {
  height: 100vh;
  width: 44vw;
  max-width: 633px;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

samp {
  margin-top: 2em;
}

input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.register-btn {
  margin-top: 40px;
  font-family: Muli;
  font-weight: 800;
  background-color: #3d09fa;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  font-size: 0.8em;
}

.register-btn-sign {
  margin-top: 40px;
  font-family: Muli;
  font-weight: 800;
  background: none;
  border: 30px;
  border-color: blue;
  color: #2a05ff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  font-size: 0.8em;
}

@media all and (max-width: 1045px) {
  .register {
    gap: 4em;
  }
}

@media all and (max-width: 700px) {
  .register {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4em;
  }
  .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 34vh;
  }
  .img-container img {
    height: 36vh;
    width: 64vw;
    max-width: 633px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=register.css.map */