* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a {
  color: inherit;
}
// imports
@import "register-header";
body {
  display: block;
  overflow-x: hidden;
  justify-content: center;
  margin: auto;
  width: 100%;
}
@media all and (min-width: 1440px) {
  .img-container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100 vh;
    align-items: center;
    img {
      height: 51vh;
      width: 44vw;
      max-width: 633px;
      object-fit: cover;
    }
  }
}

.title {
  font-family: bely-display, sans-serif;
  letter-spacing: 1px;
  color: blue;
}
.title-lighter {
  font-family: bely, sans-serif;
}
.paragraph {
  font-family: muli, sans-serif;
  font-weight: 500;
  margin-bottom: 0.6em;
  text-decoration: none;
  color: orange;
}
.subtitle {
  font-family: bely, sans-serif;
  color: #a59c9c;
}
.register {
  width: 100vw;
  max-width: 1151px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10em;
}
.text-welcome {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.img-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  img {
    height: 100vh;
    width: 44vw;
    max-width: 633px;
    object-fit: cover;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  flex-direction: column;
}
samp {
  margin-top: 2em;
}
input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.register-btn {
  margin-top: 40px;
  font-family: Muli;
  font-weight: 800;
  background-color: #3d09fa; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  font-size: 0.8em;
}
.register-btn-sign {
  margin-top: 40px;
  font-family: Muli;
  font-weight: 800;
  background: none;
  border: 30px;
  border-color: blue;
  color: rgb(42, 5, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  font-size: 0.8em;
}

@media all and (max-width: 1045px) {
  .register {
    gap: 4em;
  }
}

@media all and (max-width: 700px) {
  .register {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }
  .img-container {
    display: flex;
    justify-content: space-between;
    height: 34vh;

    img {
      height: 36vh;
      width: 64vw;
      max-width: 633px;
      object-fit: cover;
    }
  }
}
